
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rompecabezas</title>
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/style.css">

       <link rel="stylesheet" href="/css/estilo.css">
   
      <link rel="stylesheet" href="/css/estilo.css">
      <link rel="Shortcut Icon" href="/images/puzzle-icon.ico" />
       </head>
  <body>
    <div class="container">
  <header><a href="/">
      </a></header>
      <audio autoplay preload='auto' loop id="myAudio">
  <source src="/audio/background.mp3" type="audio/mpeg" >
</audio>
  {{{body}}}
       
    </div>
